<div class="top">
  <div class="top-main">
    <div class="form-frame">
      <h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>
      <p>エリア検索</p>
      <p>探す</p>
    </div>
  </div>
  
  <div class="recommendation-area">
    <h1>おすすめのエリア</h1>
    <ul>
      <li><img src="/assets/img_tokyo.jpeg" alt="東京"></li>
      <li><img src="/assets/img_osaka.jpeg" alt="大阪"></li>
      <li><img src="/assets/img_kyoto.jpeg" alt="京都"></li>
      <li><img src="/assets/img_sapporo.jpeg" alt="札幌"></li>
    </ul>
  </div>
</div>
