// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-content{
  border-bottom: 1px solid #eaedef;
  margin: 0 15px 10px 15px;
  font-size: 16px;
  height:50px;
  display:flex;
  label{
    flex:1;
    max-width: 200px;
  }
  .data-field{
    flex:5;
    max-width: 400px;
  }
}

.room-index-container{
  max-width: 100vw;
  padding: 30px 60px;
  h4{
    margin: 10px 0;
  }
  thead{
    th{
      padding: 8px 15px;
    }
    tr{
      text-align: center;
    }
  }
  tbody{
    td{
      padding: 10px;
      text-align: center;
      img{
        width: 240px;
        height: 140px;
        object-fit: cover;
      }
    }
  }
}

.room-price-index::before{
  content: "¥";
}

.room-show-image{
  max-width: 750px;
}

.room-container-show{
  padding: 30px 60px;
  display: flex;
}

.room-show-detail{
  display:flex;
}
.room-show-icon-image{
  padding: 10px;
}

.room-show-profile{
  padding: 10px;
}
.room-show-detail-content{
  padding: 30px 10px;
  border-top: 1px solid #eaedef;
  border-bottom: 1px solid #eaedef;
}

.search-title{
  margin-left: 30px;
  font-size: 1.5rem;
  font-weight: normal;
}
.search-container{
  display: flex;
  flex-wrap: wrap;
}
.search-row{
  
  width: calc(25% - 42px);
  margin:5px 15px;
  padding: 5px;
  border: 1px solid #e2e2e2;
  img{
    width:100%;
    height: 180px;
    object-fit: cover;
  }
}
.room-profile-name{
  font-size: 18px;
  font-weight: bold;
  color: #909090;
}
.room-profile-address{
  font-size:16px;
  font-weight: bold;
}
.room-profile-price{
  text-align:right;
  font-size: 16px;
}