.container{
  text-align:center;
}
.field, .actions{
  margin-bottom: 10px;
}

.required::before{
  content: '必須';
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

