// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.wrapper{
  display:flex;
}
.row{
  height:100vh;
  padding:30px 15px;
  flex:1;
  li{
    list-style:none;
  }
}
.user-view{
  flex:6;
  border-left: 2px solid #e2e2e2;
  background-color: #f6f8f9;
}

.user-view-box{
  margin: 30px auto;
  border: 1px solid #eaedef;
  background-color: #fff;
}

.update-content{
  border-bottom: 1px solid #eaedef;
  margin: 0 15px;
  font-size: 16px;
  height:50px;
  display:flex;
  label{
    flex:1;
  }
  .user-data{
    flex:4;
  }
}


.edit-button{
  padding-left: 10px;
}

.field_with_errors{
  padding: 2px;
  background-color: red;
}